:root {
  --color-header-background: #FF7E97;
  /* Tono más claro para el fondo del header */
  --color-header-text: #FFFFFF;
  /* Texto blanco para el header */
  --color-footer-background: #FF7E97;
  /* Tono más claro para el fondo del footer */
  --color-footer-text: #FFFFFF;
  /* Texto blanco para el footer */
  --color-primary: #ed526f;
  /* Rosa vibrante para resaltar y llamar la atención */
  --color-accent: #FF9CB6;
  /* Tono de rosa suave como acento */
  --color-background: #F2F2F2;
  /* Fondo neutro para resaltar los productos */
  --color-text-light: #FFFFFF;
  /* Texto claro para una buena legibilidad */
  --color-text: #3a3838;
  /* Texto oscuro para una buena legibilidad */
  --color-text-primary: #181616;
  /* Texto claro para una buena legibilidad en fondo rosa */
  --color-subtext: #888888;
  /* Texto secundario más claro */
  --color-border: #90172d;
  /* Borde y separador de tono más claro */
  --color-border-light: #CCCCCC;
  /* Borde y separador de tono más claro */
  --color-button: #fa5472;
  /* Botones en el mismo tono que el color principal */
  --color-button-hover: #FF8CA8;
  /* Efecto hover para los botones */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para el encabezado (header) */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-header-background);
  padding: 10px;
  width: 95%;
  height: 150px;
  margin: 0px auto;
}

.logo {
  max-width: 100%;
  height: auto;
  margin-left: 20px;
}

nav {
  margin-right: 20px;
  text-align: center;
  color: var(--color-accent);
  text-decoration: none;
  margin-left: 20px;
}
  

/* Estilos para el contenido principal (main) */
main {
  text-align: center;
  padding: 20px;
}
 main section{
  justify-content: space-between;
 }

.principal {
  max-width: 95%;
  height: auto;
}
.card-pr{
  margin: 5px auto;
  padding: 10px 5px;
  border: 2px solid #ccc;
  float: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.card-pr section{
  display: flex;
  margin: 10px 0;
}
.producto{
  border-radius: 10%;
  width: 300px;
  height: auto;
  margin: 10px 40px;
}

form input{
  justify-content: center;
  width: 250px;
  padding: 12px 20px;
  border-radius: 4px;
}
label{
  color: var(--color-text-primary);
}

.btn {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: var(--color-button);
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid var(--color-border);
  border-style: outset;
}

.lt-btn {
  background-color: white;
  color: black;
  border: 1px solid var(--color-button);
  transition-duration: 0.4s;
  padding: 5px 12px;
  height: 30px;
  width: 150px;
  text-decoration: none;
}
.lt-btn:hover{
  background-color: var(--color-button-hover);
}

.btn:hover {
  background-color: var(--color-button-hover);
}

.card{
  height: 310px;
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.card h4{
  display: flex;
  align-items: center;
  text-align: left;
  margin: 10px;

}
.categ {
  border-radius: 25%;
  height: 300px;
  width: 300px;
}
.card-lt{
  display: flex;
  height: 200px;
  width: 20%;
  display: flex;
}
.card-lt img{
  border-radius: 10%;
  height: 150px;
  width: 150px;
}
.card-lt p{
  display: flex;
  align-items: center;
  text-align: left;
  margin: 10px;
  font-size: 14px;
}

.logo {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  float: left;
}
.imgInfo{
  border-radius: 20%;
}
content {
  float: left;
  width: 60%;
  min-height: 500px;
}

aside{
  float: right;
  width: 40%;
  min-height: 500px;
}

/* Estilos para el pie de página (footer) */
footer {
  align-items: center;
  padding: 10px;
  margin: 0px auto;
  background-color: var(--color-footer-background);
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
  margin: 0px auto;

}

.footer-section strong {
  color: var(--color-text-light);
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

/* Estilos para la sección de la foto */
.footer-section img.foto {
  max-width: 80%;
  width: 150px;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
}