<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'CSS/Styles.css '%}" />
  <title>Administrador Libros</title>
</head>

<body>
  <!------------------------------>
  <!-- Header Start -->
  <!------------------------------>
  <header>
    <div>
      <nav>
        <div>
          <a href="/"><img class="logo" src="{% static 'img/Logo.png' %}" /></a>
        </div>
        <div class="menu">
          <ul>
            <li><a class="btn" href="/">Inicio</a></li>
          </ul>
        </div>
        <div class="logueo">
          <ul>
            <li><a class="btn" href="/SignIn">Sign in</a></li>
            <li><a class="btn" href="/SignUp">Sign up</a></li>
            <li><a class="btn" href="/TiendaLibros">Volver</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!------------------------------>
  <!-- Header End -->
  <!------------------------------>
  <div class="clearfix"></div>
  <!------------------------------>
  <!-- Main Start-->
  <!------------------------------>
  <main>
    <article>
      <h1>Libreria Gaviota</h1>
      <p>Espacio para gestión de libros</p>
      <form method="POST">
        {% csrf_token %}
        <label>Título</label>
        <input type="text" name="titulo" placeholder="Título del libro" />
        <label>Autor</label>
        <input type="text" name="autor" placeholder="Autor" />
        <label>Genero</label>
        <select name="genero">
          <option value="Fantasia">Fantasia</option>
          <option value="Romance">Romance</option>
          <option value="Terror">Terror</option>
          <option value="Ciencia_Ficcion">Ciencia Ficcion</option>
          <option value="Infantil">Infantil</option>
          <option value="Autoayuda">Autoayuda</option>
          <option value="Comedia">Comedia</option>
          <option value="Novela">Novela</option>
          <option value="Clasico">Clasico</option>
          <option value="Historia">Historia</option>
        </select>
        <label>Precio</label>
        <input type="number" name="precio" placeholder="Precio" />
        <label>Portada</label>
        <input type="text" name="portada" value="IMG/" />
        <p>Ejemplo: IMG/libro1.jpg</p>
        <button class="btn" type="submit">Registrar</button>
      </form>
      <p>{{mensaje}}</p>
    </article>
    <article>
      <h2>Libros</h2>
      <table>
        <tr>
          <th>Título</th>
          <th>Autor</th>
          <th>Genero</th>
          <th>Precio</th>
          <th>Portada</th>
          <th>Acción</th>
        </tr>
        {% for libro in libros %}
        <tr>
          <td>{{libro.titulo}}</td>
          <td>{{libro.autor}}</td>
          <td>{{libro.precio}}</td>
          <td>{{libro.genero}}</td>
          <td><img src="{% static '' %}{{libro.portada}}" /></td>
          <td><a href="{% url 'eliminarLibro' id=libro.id %}">Eliminar</a></td>
        </tr>
        {% endfor %}
      </table>
    </article>
  </main>
  <!------------------------------>
  <!-- Main End-->
  <!------------------------------>
  <div class="clearfix"></div>
  <!------------------------------>
  <!-----Footer Start------------->
  <!------------------------------>
  <footer>
    <section>
      <h3>Información Estudiante</h3>
      <strong>Nombre</strong>
      <p>Ana María</p>
      <strong>Apellido</strong>
      <p>Gómez Soto</p>
      <strong>Cedula</strong>
      <p>1001526271</p>
      <strong>Correo</strong>
      <p>ana_gomez82222@elpoli.edu.co</p>
    </section>
    <section>
      <ul>
        <li><a href="https://open.spotify.com/intl-es"><img class="icon" src="{% static 'IMG/spotify.png' %}"></a>Música
          para leer</li>
        <li><a href="https://web.telegram.org/a/"><img class="icon" src="{% static 'IMG/telegram.png' %}"></a>Contacta
          con nosotros</li>
        <li><a href="https://www.instagram.com"><img class="icon" src="{% static 'IMG/instagram.png' %}"></a>Enterate de
          todo</li>
      </ul>
    </section>
  </footer>
  <!------------------------------>
  <!-----Footer End------------->
  <!------------------------------>
</body>

</html>