<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'CSS/Styles.css '%}" />
  <title>Libro</title>
</head>

<body>
  <!------------------------------>
  <!-- Header Start -->
  <!------------------------------>
  <header>
    <div>
      <nav>
        <div>
          <a href="/"><img class="logo" src="{% static 'img/Logo.png' %}" /></a>
        </div>
        <div class="menu">
          <ul>
            <li><a class="btn" href="/">Inicio</a></li>
          </ul>
        </div>
        <div class="logueo">
          <ul>
            <li><a class="btn" href="/SignUp">Sign up</a></li>
            <li><a class="btn" href="/TiendaLibros">Volver</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!------------------------------>
  <!-- Header End -->
  <!------------------------------>
  <div class="clearfix"></div>
  <!------------------------------>
  <!-- Main Start-->
  <!------------------------------>
  <main>
    {% for libro in libro %}
    <section class="libro">
      <h1>{{libro.titulo}}</h1>
      <img src="{% static '' %}{{libro.portada}}" /><br>
      <strong>Autor: </strong><p>{{libro.autor}}</p><br>
      <strong>Genero: </strong><p>{{libro.genero}}</p><br>
      <strong>Precio: </strong><p>{{libro.precio}}</p><br>
    </section>
    {% endfor %}
    <input class="comprar" type="number" id="cantidad">
    <a href="/TiendaLibros"><button class="btn" type="submit">Comprar</button></a>
  </main>
  <!------------------------------>
  <!-- Main End-->
  <!------------------------------>
  <div class="clearfix"></div>
  <!------------------------------>
  <!-----Footer Start------------->
  <!------------------------------>
  <footer>
    <section>
      <strong>Administrador de Libros</strong>
      <p>Si eres admin sabrás que hacer</p>
      <a href="/AdminLibros/"><img class="admin" src="{% static 'IMG/adminLibros.jpg' %}" /></a>
    </section>
    <section>
      <h3>Información Estudiante</h3>
      <strong>Nombre</strong>
      <p>Ana María</p>
      <strong>Apellido</strong>
      <p>Gómez Soto</p>
      <strong>Cedula</strong>
      <p>1001526271</p>
      <strong>Correo</strong>
      <p>ana_gomez82222@elpoli.edu.co</p>
    </section>
    <section>
      <ul>
        <li><a href="https://open.spotify.com/intl-es"><img class="icon" src="{% static 'IMG/spotify.png' %}"></a>Música
          para leer</li>
        <li><a href="https://web.telegram.org/a/"><img class="icon" src="{% static 'IMG/telegram.png' %}"></a>Contacta
          con nosotros</li>
        <li><a href="https://www.instagram.com"><img class="icon" src="{% static 'IMG/instagram.png' %}"></a>Enterate de
          todo</li>
      </ul>
    </section>
  </footer>
  <!------------------------------>
  <!-----Footer End------------->
  <!------------------------------>
</body>

</html>