<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'CSS/Styles.css '%}" />
    <title>Libros</title>
</head>

<body>
    <!------------------------------>
    <!-- Header Start -->
    <!------------------------------>
    <header>
        <div>
            <nav>
                <div>
                    <a href="/"><img class="logo" src="{% static 'img/Logo.png' %}" /></a>
                </div>
                <div class="menu">
                    <ul>
                        <li><a class="btn" href="/">Inicio</a></li>
                    </ul>
                </div>
                <div class="logueo">
                    <ul>
                        <li><a href="/SignIn/">Volver</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!------------------------------>
    <!-- Header End -->
    <!------------------------------>
    <div class="clearfix"></div>
    <!------------------------------>
    <!-- Main Start-->
    <!------------------------------>
    <main>
        <div class="filtro">
            <h1>Libros</h1>
            <div class="clearfix"></div>
            <ul>
                <li><a href="{% url 'generoLibros' genero='Fantasia' %}">Fantasia</a></li>
                <li><a href="{% url 'generoLibros' genero='Romance' %}">Romance</a></li>
                <li><a href="{% url 'generoLibros' genero='Terror' %}">Terror</a></li>
                <li><a href="{% url 'generoLibros' genero='Ciencia_Ficcion' %}">Ciencia Ficcion</a></li>
                <li><a href="{% url 'generoLibros' genero='Infantil' %}">Infantil</a></li>
                <li><a href="{% url 'generoLibros' genero='Autoayuda' %}">Autoayuda</a></li>
                <li><a href="{% url 'generoLibros' genero='Comedia' %}">Comedia</a></li>
                <li><a href="{% url 'generoLibros' genero='Novela' %}">Novela</a></li>
                <li><a href="{% url 'generoLibros' genero='Clasico' %}">Clásico</a></li>
                <li><a href="{% url 'generoLibros' genero='Historia' %}">Historia</a></li>
            </ul>
        </div>
        
        <div class="clearfix"></div>

        <div class="libros">
            {% for libro in libros %}
            <a href="{% url 'Libro' id=libro.id %}">
                <strong>{{libro.titulo}}</strong>
                <p>{{libro.autor}}</p>
                <img src="{% static '' %}{{libro.portada}}" />
            </a>
            {% endfor %}
        </div>
    </main>
    <!------------------------------>
    <!-- Main End-->
    <!------------------------------>
    <div class="clearfix"></div>
    <!------------------------------>
    <!-----Footer Start------------->
    <!------------------------------>
    <footer>
        <section>
            <strong>Administrador de Libros</strong>
            <p>Si eres admin sabrás que hacer</p>
            <a href="/AdminLibros/"><img class="admin" src="{% static 'IMG/adminLibros.jpg' %}" /></a>
        </section>
        <section>
            <h3>Información Estudiante</h3>
            <strong>Nombre</strong>
            <p>Ana María</p>
            <strong>Apellido</strong>
            <p>Gómez Soto</p>
            <strong>Cedula</strong>
            <p>1001526271</p>
            <strong>Correo</strong>
            <p>ana_gomez82222@elpoli.edu.co</p>
        </section>
        <section>
            <ul>
                <li><a href="https://open.spotify.com/intl-es"><img class="icon"
                            src="{% static 'IMG/spotify.png' %}"></a>Música para leer</li>
                <li><a href="https://web.telegram.org/a/"><img class="icon"
                            src="{% static 'IMG/telegram.png' %}"></a>Contacta con nosotros</li>
                <li><a href="https://www.instagram.com"><img class="icon"
                            src="{% static 'IMG/instagram.png' %}"></a>Enterate de todo</li>
            </ul>
        </section>
    </footer>
    <!------------------------------>
    <!-----Footer End------------->
    <!------------------------------>
</body>

</html>