<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/style.css '%}" />
  <title>Inicio</title>
</head>

<body>
  <div class="container">
    <header>
      <a href="/"><img class="logo" src="{% static 'img/Logo.png' %}" /></a>
      <nav>
        <a class="btn" href="login">Sign in</a>
        <a class="btn" href="register">Sign up</a>
      </nav>
    </header>

    <div class="clearfix"></div>

    <main>
      <section>
        <img class="principal" src="{% static 'img/poli.jpg' %}" />
      </section>
    </main>

    <div class="clearfix"></div>

    <footer>
      <section class="footer-section">
        <strong>Habilidades</strong>
        <ul>
          <li>Desarrollo de paginas web</li>
          <li>Back End</li>
          <li>Paciencia</li>
          <li>Resiliencia</li>
          <li>Disciplina</li>
          <li>Proactividad y estudio autodidactico</li>
        </ul>
        <br />
        <strong>Herramientas</strong>
        <ul>
          <li>Python</li>
          <li>Django</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Bootstrap</li>
          <li>SQLite3</li>
        </ul>
      </section>
      <section class="footer-section">
        <img class="foto" src="{% static 'img/foto.jpg' %}" />
        <br />
        <strong>Nombre</strong>
        <p>Ana María</p>
        <strong>Apellido</strong>
        <p>Gómez Soto</p>
        <strong>Cedula</strong>
        <p>1001526271</p>
        <strong>Correo</strong>
        <p>ana_gomez82222@elpoli.edu.co</p>
      </section>
    </footer>
  </div>
</body>

</html>