<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/style.css '%}" />
  <title>Sign up</title>
</head>

<body>
  <div class="container">
    <header>
      <a href="/"><img class="logo" src="{% static 'img/Logo.png' %}" /></a>
      <nav>
        <a class="btn" href="/">Inicio</a>
      </nav>
    </header>

    <div class="clearfix"></div>

    <main>
      <content>
        <img class="imgInfo" src="{% static 'img/infoSignUp.jpg' %}" />
      </content>
      <aside>
        <h1>Registrarse</h1>
        <form method="post">
          {%csrf_token%}
          <div>
            <strong>Nombre</strong><br>
            <input name="nombre" type="text" required /><br>
            <strong>Apellido</strong><br>
            <input name="apellido" type="text" required /><br>
            <strong>telefono</strong><br>
            <input name="telefono" type="text" required /><br>
            <strong>Email</strong><br>
            <input name="email" type="text" required /><br>
            <strong>Usuario</strong><br>
            <input name="username" type="text" required /><br>
            <strong>Contraseña</strong><br>
            <input name="password" type="password" required /><br>
          </div><br>
          <button class="btn" type="submit">Registrarse</button>
        </form><br>
        <p>{{error}}</p>
        <a class="btn" href="/login">Iniciar sesion</a>
      </aside>
    </main>

    <div class="clearfix"></div>

    <footer>
      <section class="footer-section">
        <strong>Habilidades</strong>
        <ul>
          <li>Desarrollo de paginas web</li>
          <li>Back End</li>
          <li>Paciencia</li>
          <li>Resiliencia</li>
          <li>Disciplina</li>
          <li>Proactividad y estudio autodidactico</li>
        </ul>
        <br />
        <strong>Herramientas</strong>
        <ul>
          <li>Python</li>
          <li>Django</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Bootstrap</li>
          <li>SQLite3</li>
        </ul>
      </section>
      <section class="footer-section">
        <img class="foto" src="{% static 'img/foto.jpg' %}" />
        <br />
        <strong>Nombre</strong>
        <p>Ana María</p>
        <strong>Apellido</strong>
        <p>Gómez Soto</p>
        <strong>Cedula</strong>
        <p>1001526271</p>
        <strong>Correo</strong>
        <p>ana_gomez82222@elpoli.edu.co</p>
      </section>
    </footer>
  </div>
</body>

</html>