<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css '%}" />
    <title>Admin</title>
</head>

<body>
    <div class="container">
        <header>
            <a href="/"><img class="logo" src="{% static 'img/Logo.png' %}" /></a>
            <nav>
                <a class="btn" href="/">Inicio</a>
            </nav>
        </header>

        <img class ="principal" src="{% static 'img/poli.jpg' %}" />
        <form method="POST">
            {%csrf_token%}
            <div>
                <strong>Nombre del Producto</strong><br>
                <input name="nombre" type="text" required /><br>
                <strong>Descripción del Producto</strong><br>
                <input name="descripcion" type="text" required /><br>
                <strong>Categoria</strong><br>
                <select name="categoria">
                    <option value="maquillaje">Maquillaje</option>
                    <option value="accesorios">Accesorios</option>
                </select><br>
                <strong>Cantidad</strong><br>
                <input name="cantidad" type="number" required /><br>
                <strong>Precio</strong><br>
                <input name="precio" type="number" required /><br>
                <strong>Ruta de la imagen 1</strong><br>
                <input name="imagen" type="text" required /><br>
                <p>Ejemplo: img/nombreImagen.jpeg</p><br>
                <strong>Ruta de la imagen 2</strong><br>
                <input name="imagend1" type="text" required /><br>
                <strong>Ruta de la imagen 3</strong><br>
                <input name="imagend2" type="text" required />
            </div><br>
            <button class="btn" type="submit">Registrar Producto</button>
        </form>
        <p>{{mensaje}}</p>
        </header>
        <footer>
            <section class="footer-section">
                <strong>Habilidades</strong>
                <ul>
                    <li>Desarrollo de paginas web</li>
                    <li>Back End</li>
                    <li>Paciencia</li>
                    <li>Resiliencia</li>
                    <li>Disciplina</li>
                    <li>Proactividad y estudio autodidactico</li>
                </ul>
                <br />
                <strong>Herramientas</strong>
                <ul>
                    <li>Python</li>
                    <li>Django</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                    <li>SQLite3</li>
                </ul>
            </section>
            <section class="footer-section">
                <img class="foto" src="{% static 'img/foto.jpg' %}" />
                <br />
                <strong>Nombre</strong>
                <p>Ana María</p>
                <strong>Apellido</strong>
                <p>Gómez Soto</p>
                <strong>Cedula</strong>
                <p>1001526271</p>
                <strong>Correo</strong>
                <p>ana_gomez82222@elpoli.edu.co</p>
            </section>
        </footer>
    </div>
</body>

</html>