<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/style.css '%}" />
  <title>Categorias</title>
</head>

<body>
  <div class="container">
    <header>
      <a href="/"><img class="logo" src="{% static 'img/Logo.png' %}" /></a>
      <nav>
        <a class="btn" href="/">Inicio</a>
      </nav>
    </header>
    <div class="clearfix"></div>
    <main>
      <div class="card">
        <a  href="{% url 'productos' categoria='maquillaje' %}"><img class="categ" src="{% static 'img/maquillaje.jpeg' %}" alt="maquillaje" /></a>
        <h4>En esta seccion encontraras los mejores productos de maquillaje, puedes dar clic en ver más o en la imagen para conocer nuestros productos</h4>
        <a class="lt-btn" href="{% url 'productos' categoria='maquillaje' %}">Ver más</a>
      </div>
      <div class="card">
        <a href="{% url 'productos' categoria='accesorios' %}"><img class="categ" src="{% static 'img/accesorios.jpeg' %}" alt="accesorios" /></a>
        <h4>En esta seccion encontraras accesorios de la mejor calidad, puedes dar clic en ver más o en la imagen para conocer nuestros productos</h4>
        <a class="lt-btn" href="{% url 'productos' categoria='accesorios' %}">Ver más</a>
      </div>
    </main>
    <footer>
      <section class="footer-section">
        <strong>Habilidades</strong>
        <ul>
          <li>Desarrollo de paginas web</li>
          <li>Back End</li>
          <li>Paciencia</li>
          <li>Resiliencia</li>
          <li>Disciplina</li>
          <li>Proactividad y estudio autodidactico</li>
        </ul>
        <br />
        <strong>Herramientas</strong>
        <ul>
          <li>Python</li>
          <li>Django</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>Bootstrap</li>
          <li>SQLite3</li>
        </ul>
      </section>
      <section class="footer-section">
        <img class="foto" src="{% static 'img/foto.jpg' %}" />
        <br />
        <strong>Nombre</strong>
        <p>Ana María</p>
        <strong>Apellido</strong>
        <p>Gómez Soto</p>
        <strong>Cedula</strong>
        <p>1001526271</p>
        <strong>Correo</strong>
        <p>ana_gomez82222@elpoli.edu.co</p>
      </section>
    </footer>
  </div>
</body>

</html>