:root {
  --bg-claro:rgb(208, 225, 240);
  --bg-oscuro:rgb(43, 39, 71);
  --header:rgb(28, 97, 209);
  --footer:rgb(28, 97, 209);
  --hooverTable:rgb(142, 175, 230);
  --hoover:rgb(28, 97, 209);
  --text-claro:rgb(12, 20, 32);
  --text-oscuro:white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: var(--header);
  padding: 30px;
  width: 100%;
  margin: 0 auto;
  height: 120px;
}
nav{
  display: flex;
  justify-content: space-between;
}
ul li{
  display: flex;
  list-style: none;
  padding: 2px;
  margin: 0 auto;
  text-align: center;
}
.logo{
  width: 100px;
  height: 70px;
}
body {
  color: var(--text);
}
main {
  background-color: var(--bg-claro);
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
}
main section{
  width: 100%;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}
article img{
  width: 90%;
  margin: 0 auto;
}
table {
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid;
  height: 50px;
  text-align: center;
  padding: 10px;
}
tr:hover {background-color: var(--hooverTable);}
input, select{
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input.comprar{
  width: 200px;
  padding: 12px 20px;
  margin: 8px 120px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing:border-box;
}
.btn{
  background-color: var(--bg-claro);
  border-radius: 2px;
  border: 1px solid;
  border-color: var(--hoover);
  color: var(--text-claro);
  width: 150px;
  height: 30px;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn:hover{
  background-color: var(--hoover);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
div{
  width: 100%;
}
.libros{
  display: grid;
  width: 100%;
  text-align: center;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}
.libros img{
    border-radius: 10%;
    height: 230px;
    width: 150px;
    margin-top: 8px;
    margin-bottom: 12px;
}
.libro{
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  justify-content: center;
}
.libro img{
  width: 50%;
}
.filtro{
  margin-bottom: 10px;
}
.filtro ul{
  display: flex;
}
.filtro ul li a{
  display: flex;
  margin: 2px;
  padding: 5px;
  list-style: none;
  text-align: center;
}
footer {
  background-color: var(--footer);
  display: flex;
  padding: 10px;
}
footer section{
  width: 100%;
  text-align: left;
  margin: 0 auto;
}
.admin{
  width: 200px;
}
.icon{
  width: 20px;
  margin: 1px;
}