<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'CSS/Styles.css' %}" />
  <title>Librería Gaviota</title>
</head>

<body>
  <!------------------------------>
  <!-- Header Start -->
  <!------------------------------>
  <header>
    <div>
      <nav>
        <div>
          <a href="/"><img class="logo" src="{% static 'img/Logo.png' %}" /></a>
        </div>
        <div class="menu">
          <ul>
            <li><a class="btn" href="/">Inicio</a></li>
          </ul>
        </div>
        <div class="logueo">
          <ul>
            <li><a class="btn" href="/SignIn/">Sign in</a></li>
            <li><a class="btn" href="/SignUp/">Sign up</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!------------------------------>
  <!-- Header End -->
  <!------------------------------>
  <div class="clearfix"></div>
  <!------------------------------>
  <!-- Main Start-->
  <!------------------------------>
  <main>
    <section>
      <h1>Libreria Gaviota</h1>
      <article>
        <strong>Aquí podras encontrar libros de todos los géneros</strong>
        <p>Podras filtrar tus libros por genero</p>
        <img src="{% static 'IMG/libros.jpg' %}" />
      </article>
    </section>
  </main>
  <!------------------------------>
  <!-- Main End-->
  <!------------------------------>
  <div class="clearfix"></div>
  <!------------------------------>
  <!-----Footer Start------------->
  <!------------------------------>
  <footer>
    <section>
      <strong>Administrador de usuarios</strong>
      <p>Si eres admin sabrás que hacer</p>
      <a href="/AdminUsers/"><img class ="admin"src="{% static 'IMG/adminUsers.jpg' %}" /></a>
    </section>
    <section>
      <h3>Información Estudiante</h3>
      <strong>Nombre</strong>
      <p>Ana María</p>
      <strong>Apellido</strong>
      <p>Gómez Soto</p>
      <strong>Cedula</strong>
      <p>1001526271</p>
      <strong>Correo</strong>
      <p>ana_gomez82222@elpoli.edu.co</p>
    </section>
    <section>
      <ul>
        <li><a href="https://open.spotify.com/intl-es"><img class="icon" src="{% static 'IMG/spotify.png' %}"></a>Música para leer</li>
        <li><a href="https://web.telegram.org/a/"><img class="icon" src="{% static 'IMG/telegram.png' %}"></a>Contacta con nosotros</li>
        <li><a href="https://www.instagram.com"><img class="icon" src="{% static 'IMG/instagram.png' %}"></a>Enterate de todo</li>
      </ul>
    </section>
  </footer>
  <!------------------------------>
  <!-----Footer End------------->
  <!------------------------------>
</body>

</html>